:host {
    width: 100%;
}

.expand-sidebar {
    animation: expand;
    animation-duration: 150ms;
}

.compress-sidebar {
    animation: compress;
    animation-duration: 150ms;
}

@keyframes compress {
    from {
        width: 16rem;
    }
    30% {
        width: 14rem;
    }
    80% {
        width: 6rem;
    }
    to {
        width: 4rem;
    }
}
@keyframes expand {
    from {
        width: 4rem;
    }
    30% {
        width: 6rem;
    }
    80% {
        width: 14rem;
    }
    to {
        width: 16rem;
    }
}
#notifications {
    transition-property: width;
	transition-duration: .5s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}